<%= link_to "Strona główna", root_path %>
<%= link_to "O twórcy", about_path %>
<%= link_to "Pracownicy", workers_path %>
<h1>O aplikacji</h1>
<p>
  Aplikacja umożliwia dodawanie pracowników. Możemy umiescic imie, nazwisko, email, oraz date urodzenia.
</p>





